@font-face {
  font-family: "Valkyrie C4";
  src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
  src: url("/Valkyrie C4.woff");
}

html {
    font-size: 20px;
}

body,
main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 60rem;
    margin: 0 auto;
    padding: 5px;
    line-height: 30px;
}

h1,
h2,
h3 {
    font-family: Valkyrie C4;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 3rem;
    line-height: 2.4rem;
}

h1 > a {
    color: #000;
}

h2,
h3 {
    margin-top: 2rem;
}

h3 {
    margin-left: 1rem;
    margin-top: 1rem;
}

section,
header {
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
}

a {
    text-decoration: none;
    line-height: normal;
}

a:hover {
    text-decoration: underline;
}

.feed-gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 428px) {
    .feed-gallery > a > img {
        max-width: calc(100vw * 0.46);
    }
}